@font-face {
  font-family: "IAWriter";
  src: url("./assets/IAWriter.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    overflow: hidden;
    .content-row {
      width: 100%;
    }
    .text-container {
      flex-grow: 0;
    }
    .dotImage {
      padding: 0;
      font-size: 6px;
      position: relative;
    }
  }
  .link {
    .link-text {
      flex-grow: 1;
    }
    .link-icon {
      display: block;
    }
    .link-description {
      display: none;
    }
  }
}

#root {
  width: 100%;
}

.container {
  display: flex;
}
.text-container {
  padding: 32px 24px;
  flex-grow: 1;
}
.text {
  flex-grow: 1;
}
.content-row {
  font-family: "IAWriter";
  font-size: 16px;
  line-height: 32px;

  height: 32px;
  text-transform: uppercase;
  user-select: none;
  width: fit-content;
}

.empty-row {
  height: 32px;
}

.link {
  display: flex;
  padding: 0px 4px;
  border-radius: 2px;
  cursor: pointer;
}
.link-text {
  flex-grow: 0;
}
.link-description {
  margin-left: 8px;
  font-size: 12px;
  color: #555555;
}
.link-icon {
  display: none;
}
.link:hover {
  .link-icon {
    display: block;
  }
}

.link:hover {
  .link-icon {
    display: block;
  }
}

.link:active {
  background-color: #fff;
  color: #242424;
}

.dotImage {
  white-space: pre;
  padding: 32px 24px;
  opacity: 0;
  font-size: 17px;
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease-out;
}

.show {
  opacity: 0.1;
}
